body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-transform: capitalize;
}


.parent {
    background-color: #EEE;
    width: 300px;
    height: 100px;
    text-align: center;
    padding: 15px;
    margin: 40px auto;
    transition: all 0s 0.5s;
    -webkit-transition: all 0s 0.5s;
    -moz-transition: all 0s 0.5s;
    -ms-transition: all 0s 0.5s;
    -o-transition: all 0s 0.5s;
}

.parent:hover {
    margin-top: 30px;
}

.child {
    margin-top: 20px;
    padding: 12px;
    background-color: #ddd;
    transition: all 0s 0.5s;
    -webkit-transition: all 0s 0.5s;
    -moz-transition: all 0s 0.5s;
    -ms-transition: all 0s 0.5s;
    -o-transition: all 0s 0.5s;
}

.child:hover {
    margin-top: 30px;
}



.two {
    width: 400px;
    margin: 20px auto;
    background-color: #EEE !important;
    color: black !important;
    font-size: 20px !important;
    text-align: center;
    content: "New Text" !important;
    text-indent: -99999px;
    position: relative;
}

.two::after {
    content: "Elzero" !important;
    position: absolute;
    top: 50%;
    left: 50%;
}