* {
    box-sizing: border-box;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.5rem;
}

.one div {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background-color: #ccc;
    color: #ff5722;
    /* position: absolute;
    top: 50%;
    left: 50%; */
    box-shadow: 7px 0px 0px 0px #ff5722, -7px 0 0px 0px #03a9f4;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.two .parent {
    background-color: #ccc;
    color: white;
    padding: 20px;
    margin: 20px auto;
    width: 600px;
    height: 300px;
    /* position: absolute;
    top: 40%;
    left: 40%; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
}

.two .parent div {
    background-color: tomato;
    flex-basis: calc(98% / 3);
    text-align: center;
}

.three .parent {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    align-content: space-between;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin: 20px auto;
    width: 600px;
    height: 300px;
    background-color: #ccc;
    color: white;
}

.three .parent div {
    background-color: #607d8b;
    width: calc(94% / 3);
}

.three .parent .one {
    align-self: flex-start;
}

.three .parent .two {
    height: 50%;
}

.three .parent .three {
    order: 2;
    align-self: flex-end;
}

.three .parent .four {
    order: 1;
    height: 50%;
}

.three .parent .five {
    height: 50%;
}

.three .parent .six {
    order: 2;
    height: 50%;
}

.four .parent {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    background-color: #ccc;
    color: white;
    width: 600px;
    height: 300px;
    padding: 20px;
    margin: 20px auto;
    align-content: space-between;
}

.four .parent .one,
.four .parent .two,
.four .parent .three {
    background-color: darkslategray;
    padding: 20px;
    margin: 20px auto;
}

.four .parent .two {
    order: 1;

    align-self: stretch;
}