body {
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    width: 400px;
    margin: 20px auto;
}

.html,
.css,
.js {
    background-color: #aaa;
    padding: 10px;
    margin-bottom: 20px;
    list-style: none;

}

.css ol {
    list-style-type: upper-roman;
}

.css ol,
.html ol {
    padding-left: 15px;
    margin: 5px;
}

.js ul {
    list-style-position: inside;
    padding-left: 10px;
}

.js ul li {
    padding: 10px;
    margin: 15px 15px 15px -10px;
    background-color: white;
}

.css ol li,
.html ol li {
    padding: 10px;
    margin: 15px;
    background-color: white;
}


table {
    margin: 20px auto;
    width: 700px;
    border-bottom: 3.5px solid #009688;
    border-spacing: 2px;

}

table td {
    padding: 15px;
    background-color: #eee;
}

table caption {
    font-weight: bold;
}

table thead td {
    background-color: rgb(48, 48, 48);
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 15px 15px;
}

table tbody tr {
    text-align: center;
    font-weight: 500;
}

table .view,
table .del {
    padding: 5px 7.5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-spacing: 0px;
    margin: 5px;
}

table .view {
    background-color: #03a9f4;
    border-radius: 3px;
}

table .del {
    background-color: #e91e63;
    border-radius: 3px;
}