div {
    width: 100px;
    height: 100px;
    position: absolute;

}

.green {
    background-color: green;
    z-index: 3;
    top: 30px;
    left: 30px;
}

.red {
    background-color: red;
    z-index: 4;
    top: 40px;
    left: 40px;
}

.blue {
    background-color: blue;
    z-index: 2;
    top: 20px;
    left: 20px;
}

.black {
    background-color: black;
    z-index: 1;
    top: 30px;
    left: 20px;
}


/* Ass 2  */

.ass2 {
    width: 400px;

    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 1.66;

    position: absolute;
    top: 35px;
    left: 25%;

    border-top: 3px solid red;
    border-right: 3px solid rgb(5, 72, 218);
    border-bottom: 3px solid red;
    border-left: 3px solid rgb(2, 81, 250);

    padding: 20px;

    background-color: #eee;
}

span {
    color: white;
    text-align: center;

    background-color: rgb(2, 81, 250);
    padding: 5px 12.5px;

    position: absolute;
}

.top-left {
    border-right: 3px solid red;

    bottom: 129px;
    right: 423px;
}

.bottom-left {
    border-right: 3px solid red;
    top: 129px;
    right: 423px;
}

.top-right {
    border-left: 3px solid red;
    bottom: 129px;
    left: 423px;
}

.bottom-right {
    border-left: 3px solid red;
    top: 129px;
    left: 423px;
}

/* 
body {

    max-height: 100px;
}

a {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    text-transform: capitalize;
    background-color: rgb(103, 233, 103);
    border-bottom: 3px solid rgb(37, 54, 10);
    border-radius: 9px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 7px 15px;

}

p {
    text-align: center;
    margin: 50px 0;
    text-transform: capitalize;
    background-color: rgb(103, 233, 103);
    border-bottom: 3px solid rgb(37, 54, 10);
    border-radius: 9px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 7px 15px;

} */